<% provide(:title, "Help") %>	
<div class = "col-md-1">
</div>
<div class = "col-md-5 staticpage">
	Kekeroo is a public bulletin board with minimal features and no ads. Anonymous users are able to share their thoughts and create discussion.
	Creating an account doesn't require more than a username and a password.
</div>
<div class = "col-md-6">
</div>