<% provide(:title, "Imprint") %>
<div class = "col-md-1">
</div>
<div class = "col-md-5 staticpage">
	<p>Personal operator of www.kekeroo.com is</p>
	<p>Darren Wan <br>Karlsgraben 18 <br>52064 Aachen</p>
	<p>Mob.: +49 15150451642</p>
</div>
<div class = "col-md-6">
</div>