<% provide(:title, 'Users') %>
<div class="users">
	<ul class="userlist">
	  <% User.all.each do |user| %>
	    <li style = "color: <%= user.color_code %>;">
	    	<div class = "avatar-small-<%= user.avatar %>" style = "display: inline-block;"></div>
	    	<%= link_to user.username, user, style: "position: relative; bottom: 5px;" %>
	    	<div class = "status"><% if user.status %> • <% end %></div>
	    </li>
	  <% end %>
	</ul>

</div>