<% provide(:title, @user.username) %>
<h1><%= @user.username %> - <%= @user.color_code %></h1>
<div class = "avatar-chat-<%= @user.avatar %>"></div>
<% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "Delete User?", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>