<%= image_tag("logo_letter.svg", alt: "Kekeroo")  %>

<p style="margin-left: 20px;"><strong>500.</strong> The server has encountered an error. Please try again.</p>

<%= image_tag("error.svg", alt: "Kekeroo")  %>