//= depend_on_asset "avatars.svg"

.avatar-chat-1{
	width: 36px;
	height: 36px;
	background: url("avatars.svg") 0 0;
	background-size: 72px;
}
.avatar-chat-2{
	width: 36px;
	height: 36px;
	background: url("avatars.svg") 100% 0;
	background-size: 72px;
}
.avatar-chat-3{
	width: 36px;
	height: 36px;
	background: url("avatars.svg") 0 100%;
	background-size: 72px;
}
.avatar-chat-4{
	width: 36px;
	height: 36px;
	background: url("avatars.svg") 100% 100%;
	background-size: 72px;
}

.avatar-small-1{
	width: 24px;
	height: 24px;
	background: url("avatars.svg") 0 0;
	background-size: 48px;
}
.avatar-small-2{
	width: 24px;
	height: 24px;
	background: url("avatars.svg") 100% 0;
	background-size: 48px;
}
.avatar-small-3{
	width: 24px;
	height: 24px;
	background: url("avatars.svg") 0 100%;
	background-size: 48px;
}
.avatar-small-4{
	width: 24px;
	height: 24px;
	background: url("avatars.svg") 100% 100%;
	background-size: 48px;
}

.chaticon{
	width: 36px;
	height: 36px;
	margin-left:auto;
	margin-right: auto;
}

