@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 255px;
  @include box_sizing;
}

body{
	background-color: black;
	color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	.center {
	  text-align: center;
	}
}

.bannerlogo{
	padding-top: 50px;
}

.checkbox {
  margin: 0;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.dropdown-menu{
	background-color: #f5f5f5;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.signup{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 80px;
	.col-sm-5{
		height: 120px;
		padding: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}	
	form{	
		text-align: left;
		letter-spacing: 2px;

	    .form-row{
			padding: 3px;
			width: 80%;
			.btn{
				font-weight: bold;
				width: 100%;
			}
			.form-control{
				padding: 4px 6px;
				height: 22px;
				width: 100%;
				background-color: #fdfcfc;
			}
		}			
	}
}

.login{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
    width: 224px;
    form{
		position: relative;
		top: 80px;
		text-align: left;
		letter-spacing: 2px;

	    .form-row{
			padding: 3px;
			.btn{
				font-weight: bold;
				width: 100%;
			}
			.form-control{
				padding: 4px 6px;
				height: 22px;
				width: 100%;
				background-color: #fdfcfc;
			}
		}			
	}
}


a{
	font-family: inherit;
	color: inherit;
	text-decoration: none;
	&:hover{
		color: #999;
		text-decoration: none;
	}
}

#error_explanation{
	ul{
		margin: 0;
		padding: 0;
		list-style-type: circle;
	}
	position: relative;
	top: 10px;
	font-size: 11px;
	text-align: left;
}

.users{
	padding: 0;
	height: 550px;
	width: 180px;
	float: right;
	border: solid;
	.userlist{
		padding: 0;
		margin: 0;
		height: 510px;
		width: 176px;
		list-style-type: none;
		overflow-y: scroll;
		.status{
			float: right;
			font-size: 30px;
			margin-right: 10px;
			color: #51F55F;
		}
	}
	#livesearch{
		border-top: solid;
		padding: 5px;
		color: black;
	}
}

.chat{
	height: 550px;
	border: solid;
	padding: 2px;
	.chatbox{
		height: 510px;
	}
	.inputform{
		height: 40px;
		display: inline;
		.textfield{
			height: 26px;
			padding: 2px;
			width: 90%;
			color: black;
			resize: none;
			position: relative;
			top: 4px;
		}
		.btn{
			background-color: black;
			border-color: #fdfcfc;
			border: solid;
			width: 8%;
			height: 30px;
			position: relative;
			bottom: 5px;
			padding: 0;
			text-align: center;
		}
	}
}

