@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$light: #fdfdf5;
$dark: #0A0707;

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 255px;
  @include box_sizing;
}

body{
	background-color: $dark;
	color: $light;
	font-family: 'Roboto', '黑体', 'Malgun Gothic', sans-serif;
	.center {
	  text-align: center;
	}
	/*overflow: hidden;*/
}

textarea{
	color: $dark;
}

.bannerlogo{
	padding-top: 50px;
}

.checkbox {
  margin: 0;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.dropdown-menu{
	background-color: $dark;
	border: solid $light;
	border-radius: 5px;
	width: 50px;
}

.userdropdown{
	display: inline-block;
	height: 32px;
	width: 100%;
	margin: 0;
	.userlist{	
		text-align: left;	
		.dropdownname{
			display: inline-block;
			padding: 4px;
			color: inherit;
		}
		.onlinelist{
			display: inline-block;
			position: relative;
			top: 5px;
		}
	}
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.signup{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 40px;
	top: 80px;
	.col-sm-5{
		height: 120px;
		padding: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}	
	form{	
		text-align: left;
		letter-spacing: 2px;

	    .form-row{
			padding: 3px;
			width: 80%;
			.btn{
				font-weight: bold;
				width: 100%;
			}
			.form-control{
				padding: 4px 6px;
				height: 22px;
				width: 100%;
				background-color: $light;
			}
		}			
	}
}

.login{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
    width: 224px;
    form{
		position: relative;
		top: 80px;
		text-align: left;
		letter-spacing: 2px;

	    .form-row{
			padding: 3px;
			.btn{
				font-weight: bold;
				width: 100%;
			}
			.form-control{
				padding: 4px 6px;
				height: 22px;
				width: 100%;
				background-color: $light;
			}
		}			
	}
}


a{
	font-family: inherit;
	color: inherit;
	text-decoration: none;
	&:hover{
		color: $light;
		text-decoration: none;
	}
}

#error_explanation{
	ul{
		margin: 0;
		padding: 0;
		list-style-type: circle;
	}
	position: relative;
	top: 10px;
	font-size: 11px;
	text-align: left;
}

.users{
	padding: 0;
	height: 650px;
	width: 180px;
	float: right;
	border: solid;
	.userlist{
		padding: 10px;
		margin: 0;
		height: 610px;
		width: 176px;
		list-style-type: none;
		overflow-y: scroll;
		display: inline-block;
		position: relative;
		.status{			
			display: inline-block;
			position: absolute;
			right: 5px;
			font-size: 30px;
			margin-right: 10px;
			color: #51F55F;
		}
	}
}

.chat{
	height: 700px;
	border: none;
	padding: 2px;
	.chatbox{
		height: 94%;
		overflow-y: scroll;
		display: block;
		padding: 5px;
		.chatcontainer{
			border-collapse: separate;
    		border-spacing: 10px;
			width: 100%;
			.chatuser{
				width: 6%;
				text-align: center;
				font-size: 65%;
				
			}
			.chatmessage{
				width: 94%;

				.messagetext{
					display: inline-block;
					border: 3px solid $light;
					border-radius: 5px;
					padding: 5px;
					word-break: break-all;
					&:hover{
						cursor: pointer;
					}
				}
				.messageaction{
					word-spacing: 20px;
					font-size: 70%;
					font-weight: bold;
					color: #696363;
					.action{
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.inputform{
		height: 30px;
		color: $dark;
	}
}

.field{
	width: 100%;
	margin: 0;
	position: relative;
	#message_body{
		width: 88%;
		resize: none;
		height: 32px;
		padding: 2px;
		font-size: 18px;
		border-radius: 2px;
		position: absolute;
		top: 0;
		left: 2%;
	}
	.btn-default{
		height: 32px;
		width: 64px;
		padding: 2px;
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 2.5%;
		text-align: center;
	}
}

.profilelist{
	width: 50%;
	margin: 20px;
	list-style-type: none;
	.profilemessage{
		padding: 10px;
	}
}