$light: #fdfdf5;

.navbar{
	margin-bottom: 0;
} 

#error_explanation{
		position: relative;
		top: 100px;
}
.field{
	#message_body{
		width: 78%;
	}
	.btn-default{
		width: 16%;
	}
}


.chat{
	height: 500px;
}

.currentuser{
	margin: 13px; 
	display: inline-block;
}
.currentusername{
	display: inline-block;
	position: relative;
	bottom: 20px;
}

.navborder{
	border-top: 0.1px solid $light;
	border-bottom: 0.1px solid $light;
}