<div class = "col-md-1"></div>
<div class = "col-md-10 chat">
	<div class = "chatbox" id = "scroll">
		<table class = "chatcontainer">
			<% Message.all.reverse_each do |message| %>
			

					<%= render partial: 'messages/message', object: message %>


	    	<% end %>
	    </table>
	</div>
	<div class = "inputform">
		<%= render 'messages/form' %>
	</div>
</div>
<div class = "col-md-1"></div>

<script type="text/javascript">

$(document).ready(function() {
  $('#scroll').scrollTop($('#scroll')[0].scrollHeight);
});

/*$(document).ready(function() {
  var source = new EventSource('/realtime/messages');
  source.addEventListener('new', function(e) {
   var data = JSON.parse(e.data);
   location.reload();
   
  $('#scroll').scrollTop($('#scroll')[0].scrollHeight);
  });
});
*/
</script>